@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
body {
    background-image: url(/actionvance-eXVd7gDPO9A-unsplash.jpg);
    /* background-size:cover; */
    /* background-repeat:repeat-y; */
    background-size: 250vw;
    /* background-size: cover; */
    
}
.navbar {
    /* background-color: rgb(72,199,142); */
    min-height: 3.25rem;
    position: relative;
    z-index: 30; 
    background:none;
    color: white;

}
.hero {
    /* background-image: url(/actionvance-eXVd7gDPO9A-unsplash.jpg);
    background-size: cover; */
    background: none;
    
}

.hero-body img{
    height: 68vh;
    /* animation: logo 5s forwards none; */
    animation-name: logo;
    animation-duration: 8s;

}

.hero-body p{
    position: relative;
    /* animation: logo 5s forwards none; */
    animation-name: coll;
    animation-duration: 8s;
    animation-delay: 4s;
    animation-fill-mode: backwards;

}

@keyframes logo {
    0% {opacity: 0%; bottom: 200%; transform: rotateY(0deg);}
   
    100% {opacity: 100%; bottom: 0%; transform: rotateY(360deg);}
}
@keyframes coll {
    0% {opacity: 0%; bottom: 100%; }
   
    100% {opacity: 100%; bottom: 0%;}
}

.hero-body p{
    letter-spacing: 1rem;
    font-weight: bolder;
    text-shadow: 2rem;
    font-size: x-large;
}

.hero.is-success {
    
    background: none;
}
.hero-body {
    display: flex;
    justify-content: center;
    text-align: center;
}
.navbar-item, .navbar-link {
    color: blue;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;

}
#section1 {
    padding-top: 5vh;
    background-color: black;
    text-align: center;
    padding-bottom: 5vh;
}
.columns {
    background-color: black;
    /* padding: 5vh; */
    
}

#hoveranimation:hover {
    animation-name: hover1;
    transition-duration: 2s;
    transform:scale(1.3);
}

@keyframes hover1 {
    from   {
        transform:scale(1);
    }
    to {
        transform:scale(2);
    }
}

.subtext {
    color: white;
    font-size: xx-large;
    letter-spacing: 1rem;
    word-spacing: 2rem;

    animation: slide;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0% {transform: translateX(200%);}
    25% {transform: translateX(0%);}
    50% {transform: translateX(0%);}
    75% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
  }

#secondsection {
    text-align: center;
    color: white;
    
}

#secondsection h1 {
    color: white;
}
#secondsection h2 {
    color: white;
}
.secondcolumns {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

html {
    overflow-y: auto;
}

#backgroundblack {
    background-color: black;
}

.slide {
    position: absolute;
  }
  
  img.slide {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
  }
  
  .container:has(.slide) {
    /* height: clamp(100px, 70vw, 400px); */
    height: 30vw;
    overflow: hidden;
  }
  
  /** DONT FUCK WITH THIS GALLERY PLS **/
  .slide:nth-child(1) {
    animation: showOne 8s ease-in-out infinite;
  }
  .slide:nth-child(2) {
    animation: showTwo 8s ease-in-out infinite;
  }
  .slide:nth-child(3) {
    animation: showThree 8s ease-in-out infinite;
  }
  .slide:nth-child(4) {
    animation: showFour 8s ease-in-out infinite;
  }
  .slide:nth-child(5) {
    animation: showFive 8s ease-in-out infinite;
  }
  @keyframes showOne {
    0% {
      opacity: 1;
    }
  
    33% {
      opacity: 0;
    }
    44% {
        opacity: 0;
    }

    66% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes showTwo {
    0% {
      opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
      opacity: 1;
    }
  
    60% {
      opacity: 1;
    }
    80% {
        opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes showThree {
    0% {
      opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
      opacity: 0;
    }
    60% {
        opacity: 0;
    }

    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

  @keyframes showFour {
    0% {
      opacity: 0;
    }
    20% {
        opacity: 1;
    }
  
    40% {
      opacity: 0;
    }
    
    60% {
        opacity: 0;
    }

  
    100% {
      opacity: 0;
    }
  }
  @keyframes showFive {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 0;
    }

    40% {
        opacity: 1;
    }
  
    60% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  /** THANKS **/
